#pokemon-info {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    /* border: 2px solid #ddd; */
    border-radius: 5px;
  }
  
  #pokemon-image {
    width: 200px;
    height: 200px;
    margin-top: 10px;
  }
  
  #pokemonName {
    margin-bottom: 10px;
  }
  
  